<div class="container">
	<div class="row">
		<h1><i class="fa fa-lock" aria-hidden="true"></i> Sign Up</h1>
	</div><br /><br />
	<form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
			</div>
			<input type="text" name="" class="form-control" placeholder="full name" formControlName="FullName" />
		</div><br />
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
			</div>
			<input type="text" name="" class="form-control" placeholder="username" formControlName="UserName"/>
		</div><br />
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
			</div>
			<input type="text" name="" class="form-control" placeholder="email" formControlName="Email"/>
		</div><br />
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fa fa-key icon"></i></span>
			</div>
			<input type="Password" name="" class="form-control" placeholder="password" formControlName="Password"/>
		</div><br />
		<input type="submit" name="submit" class="btn btn-success" value="Registration">
		
	</form>
	
</div>