#login .container #login-row #login-column #login-box {
  margin-top: 75px;
  max-width: 600px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.loginlayout{
  border: 2px solid blue;
    text-align: center;
    height: 500px;
    width: 400px;
    margin-top: 50px;
}
.headerlayout{
  height: 90px;
    width: 396px;
    background-color: paleturquoise;
}
.loginpadd{
  padding: 7px 100px;
}