.imgnew{
    color: red;
    vertical-align: middle;
    font-size: 27px;
}
.imgEdit{
    color: red;
    vertical-align: middle;
    font-size: 27px;
}
.rowtext{
    font-size: 12px;
    color: red;
    cursor: pointer;
}
.text-primary {
    color: #66615b!important;
}
.btn-primary {
    color: #fff;
    background-color: #9a9a9a !important;
    border-color: #2c2c2b !important;
}
.imgLoader{
    position: absolute;
    left:45%;
    top:57%;
}